/* STYLING FOR THE HEADER */
body {
    padding: 0;
    margin: 0;
}

.header {
    background-color: black;
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

.logo {
    width: 250px;
    height: 100px;
    margin-right: 0px;
}

.header h1 {
    font-size: 35px;
    padding: 0px;
    text-align: left;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav li, a {
    list-style-type: none;
    padding: 0px 24px;
    font-size: 22px;
    text-decoration: none;
    color: white;
}

/* STYLING FOR THE FEATURED ITEM */
.featuredItem {
    align-items: center;
    justify-content: center;
    padding: 300px 200px;
    background-color: #e3e6f3;
}

.featuredItem img {
    height: 500px;
    width: 750px;
    float: right;
    margin-top: -260px;
}

.featuredButton {
    background-color: black;
    margin-top: 50px;
}

/* STYLING FOR THE FOOTER */
.footer {
    padding: 50px 100px;
    background-color: black;
    color: white;
}